.n-descriptions {
  padding: 20px 25px;
  box-shadow: 5px -6px 3px 0px rgba(207, 144, 144, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  .n-descriptions-header {
    color: var(--primary-color);
    font-size: 20px;
    //font-weight: bold;
    &::before {
      content: '';
      display: inline-block;
      background-image: linear-gradient(#b5c8df, #2080F0FF);
      width: 4px;
      height: 18px;
      position: relative;
      left: -5px;
      border-radius: 10px;
      top: 50%;
      transform: translate(0, 11%);
    }
  }
  .n-descriptions-table-content {
    line-height: 30px !important;
  }
  .n-descriptions-table-content__content {
    text-decoration: underline;
    text-decoration-color: var(--n-td-text-color);
    text-decoration-thickness: 1px;
    white-space: pre-line;
  }
}
